CONFIG_MACH_MATISSE3G_OPEN=y


CONFIG_ARCH_MSM8226_3G_WIFI=y

CONFIG_HAPTIC_ISA1200=y
CONFIG_VIBRATOR_UPDATE=y

CONFIG_SENSORS_SX9500=y
CONFIG_SENSORS_SX9500_INIT_TOUCH_THRESHOLD=3000
CONFIG_SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD=15
CONFIG_SENSORS_GRIP_ADJDET=y







